
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Základní styly */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Styl pro nadpis */
h1 {
    color: #333;
}
